<div class="row">
  <div class="col-md text-center">
    <h1>Autenticazione</h1>
  </div>
</div>

<div class="row">
  <div class="col-md text-center">
    <img ngSrc="assets/login.jpg" alt="Logo" class="img-fluid" width="500" height="200">
  </div>
</div>

<div class="row">
  <div class="col-md-6" id="login">
    <h2>Login</h2>
    <form [formGroup]="loginForm.form" (ngSubmit)="loginForm.onSubmit()">
      <div class="mb-3">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput type="text" id="loginUsername" formControlName="username" placeholder="Inserisci l'username">
        </mat-form-field>
        <app-form-errors [form]="loginForm.form" field="username" verboseName="Username"></app-form-errors>
      </div>
      <div class="mb-3">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" id="loginPassword" formControlName="password" placeholder="Inserisci la password">
        </mat-form-field>
        <app-form-errors [form]="loginForm.form" field="password" verboseName="Password"></app-form-errors>
      </div>
      <button type="submit" class="btn btn-primary">Accedi</button>
    </form>
  </div>
  <div class="col-md-6" id="registration">
    <h2>Registrazione</h2>
    <form [formGroup]="registrationForm.form" (ngSubmit)="registrationForm.onSubmit()">
      <div class="row mb-3">
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nome</mat-label>
            <input matInput type="text" id="first_name" formControlName="first_name" placeholder="Inserisci il nome">
          </mat-form-field>
          <app-form-errors [form]="registrationForm.form" field="first_name" verboseName="Nome"></app-form-errors>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Cognome</mat-label>
            <input matInput type="email" id="last_name" formControlName="last_name" placeholder="Inserisci l'email">
          </mat-form-field>
          <app-form-errors [form]="registrationForm.form" field="last_name" verboseName="Cognome"></app-form-errors>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nome utente</mat-label>
            <input matInput type="text" id="registrationUsername" formControlName="username" placeholder="Inserisci il nome utente">
          </mat-form-field>
          <app-form-errors [form]="registrationForm.form" field="username" verboseName="Nome utente"></app-form-errors>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" id="registrationEmail" formControlName="email" placeholder="Inserisci l'email">
          </mat-form-field>
          <app-form-errors [form]="registrationForm.form" field="email" verboseName="Email"></app-form-errors>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" id="registrationPassword" formControlName="password" placeholder="Inserisci la password">
          </mat-form-field>
          <app-form-errors [form]="registrationForm.form" field="password" verboseName="Password"></app-form-errors>
          <app-form-errors [form]="registrationForm.form" field="notSame" verboseName="Password"></app-form-errors>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Conferma password</mat-label>
            <input matInput type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Conferma la password">
          </mat-form-field>
          <app-form-errors [form]="registrationForm.form" field="confirmPassword" verboseName="Conferma password"></app-form-errors>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nome Azienda</mat-label>
            <input matInput type="text" id="companyName" formControlName="company_name" placeholder="Inserisci il nome">
          </mat-form-field>
          <app-form-errors [form]="registrationForm.form" field="company_name" verboseName="Nome Azienda"></app-form-errors>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Partita IVA</mat-label>
            <input matInput type="text" id="company_vat_number" formControlName="company_vat_number" placeholder="Inserisci la partita IVA">
          </mat-form-field>
          <app-form-errors [form]="registrationForm.form" field="company_vat_number" verboseName="Partita IVA"></app-form-errors>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Registrati</button>
    </form>
  </div>
</div>

