<div>
  <div class="row" id="section-1">
    <div class="col-md-6">
      <img ngSrc="/assets/index-section1.jpg" class="img-fluid" alt="Responsive image" height="200" width="500">
    </div>
    <div class="col-md-6">
      <h2 class="">Aumenta la produttività del tuo team con TaskMaster</h2>
      <p>
        Sappiamo tutti quanto può essere complicato gestire il lavoro di un team. Tuttavia, con TaskMaster
        puoi finalmente semplificare la gestione dei tuoi progetti e aumentare la produttività del tuo team. Grazie alla
        nostra piattaforma, puoi assegnare i compiti ai membri del tuo team, monitorare lo stato di avanzamento del
        lavoro e tenere traccia delle scadenze dei progetti, tutto in un'unica piattaforma. Inoltre, la nostra
        interfaccia intuitiva e facile da usare rende la collaborazione del tuo team ancora più semplice e efficiente.
        Non dovrai più preoccuparti di dover seguire il lavoro del tuo team su diverse piattaforme, perché TaskMaster è
        la soluzione a tutti i tuoi problemi di gestione del lavoro di team. Scopri come la nostra
        piattaforma può migliorare la gestione del tuo team e aumentare la tua produttività.
      </p>
    </div>
  </div>
  <div class="row" id="section-2">
    <div class="col-md-6 order-md-1">
      <img ngSrc="/assets/index-section2.jpg" class="img-fluid" alt="Responsive image" height="200" width="500">
    </div>
    <div class="col-md-6 order-md-0">
      <h2>Come funziona TaskMaster</h2>
      <p>
        La nostra piattaforma TaskMaster è la soluzione perfetta per gestire i tuoi progetti in modo
        efficiente. Il primo passo è creare un nuovo progetto, inserendo tutte le informazioni necessarie come la
        descrizione, le scadenze e i compiti da assegnare ai membri del tuo team. Una volta creato il progetto, puoi
        facilmente assegnare i compiti ai membri del team e monitorare lo stato di avanzamento in tempo reale. La
        comunicazione tra i membri del team è resa ancora più semplice grazie alla nostra piattaforma, che consente di
        scambiare messaggi e informazioni in modo facile e veloce. Inoltre, puoi inviare notifiche per tenere tutti
        informati sulle modifiche apportate al progetto. Quando il progetto è completato, puoi segnalarlo come tale e
        persino creare un rapporto sul progetto per identificare le aree di miglioramento e valutare il successo del
        progetto. Con TaskMaster, la gestione del tuo team non sarà mai stata così semplice ed efficiente.
        Provalo oggi stesso!
      </p>
    </div>
  </div>
</div>
