<h2 mat-dialog-title>Crea Progetto</h2>
<mat-dialog-content>
  <form [formGroup]="projectForm.form">
    <div class="row mb-3">
      <div class="col-md">
        <mat-form-field class="full-width">
          <mat-label>Nome progetto</mat-label>
          <input matInput type="text" id="name" formControlName="name" placeholder="Inserisci il nome">
        </mat-form-field>
        <app-form-errors [form]="projectForm.form" field="name" verboseName="Nome progetto"></app-form-errors>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md">
        <mat-form-field class="full-width">
          <mat-label>Descrizione Progetto</mat-label>
          <textarea matInput type="text" id="description" formControlName="description" placeholder="Inserisci la descrizione"></textarea>
        </mat-form-field>
        <app-form-errors [form]="projectForm.form" field="description" verboseName="Descrizione progetto"></app-form-errors>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md">
        <mat-form-field class="full-width">
          <mat-label>Project Manager</mat-label>
          <mat-select formControlName="projectManager">
            <mat-option *ngIf="projectManagers?.length === 0" [value]="null" disabled>Nessun project manager</mat-option>
            <mat-option *ngFor="let projectManager of projectManagers" [value]="projectManager.id">{{projectManager.first_name}} {{projectManager.last_name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <app-form-errors [form]="projectForm.form" field="company" verboseName="Azienda"></app-form-errors>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md">
        <mat-form-field class="full-width">
          <mat-label>Dipendenti</mat-label>
          <mat-select formControlName="employees" multiple>
            <mat-option *ngIf="employees?.length === 0" [value]="null" disabled>Nessun dipendente</mat-option>
            <mat-option *ngFor="let employee of employees" [value]="employee.id">{{employee.first_name}} {{employee.last_name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <app-form-errors [form]="projectForm.form" field="employees" verboseName="Dipendenti"></app-form-errors>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Chiudi</button>
  <button mat-button (click)="handleProject()">{{ handleButtonText }}</button>
</mat-dialog-actions>
