<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TaskMaster</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="row text-center mb-4">
  <h1 class="mat-h1">Cambia password</h1>
  <div class="mat-subtitle-1">Dopo il primo login è richiesto venga cambiata la password</div>
</div>
<form [formGroup]="changePasswordForm.form">
  <div class="row mb-4">
    <div class="col-md-12">
      <mat-form-field class="full-width">
        <mat-label>Password attuale</mat-label>
        <input matInput type="password" id="old_password" formControlName="old_password" placeholder="Inserisci la password attuale">
      </mat-form-field>
      <app-form-errors [form]="changePasswordForm.form" field="old_password" verboseName="Password attuale"></app-form-errors>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <mat-form-field class="full-width">
        <mat-label>Password nuova</mat-label>
        <input matInput type="password" id="new_password" formControlName="new_password" placeholder="Inserisci la nuova password">
      </mat-form-field>
      <app-form-errors [form]="changePasswordForm.form" field="new_password" verboseName="Password Nuova"></app-form-errors>
    </div>
    <div class="col-md-6">
      <mat-form-field class="full-width">
        <mat-label>Conferma password nuova</mat-label>
        <input matInput type="password" id="confirm_new_password" formControlName="confirm_new_password" placeholder="Conferma la nuova password">
      </mat-form-field>
      <app-form-errors [form]="changePasswordForm.form" field="confirm_new_password" verboseName="Conferma la nuova password"></app-form-errors>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="changePasswordForm.changePassword()">Cambia password</button>
    </div>
  </div>
</form>
